{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='page/index.css') }}" />
{% endblock %}

{% block navs %}
{% for menu in menus %}
<li><a href="#{{menu.url}}">{{ menu.title }}</a></li>
{% endfor %}
{% endblock %}

{% block container %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">数据源</h3>
        <a class="btn btn-default btn-xs" href="javascript:void(0);" role="button" data-toggle="modal" data-target="#upload"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新建</a>
    </div>
    <div class="panel-body">
        <form id="form" v-on:submit.prevent="submit">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th width="5%">#</th>
                        <th width="10%">状态</th>
                        <th width="25%">名称</th>
                        <th width="25%">创建时间</th>
                        <th width="25%">更新时间</th>
                        <th width="10%">删除</th>
                    </thead>
                    <tbody>
                        <tr v-for="spider in spiders">
                            <td><input type="checkbox" name="datasource" value="${ spider.name }" v-model="datasource"></td>
                            <td>
                                <i class="fa fa-circle" v-bind:class="spider.status"></i>
                                <span v-if="spider.status == 'pending'">就绪</span>
                                <span v-if="spider.status == 'running'">运行中</span>
                                <span v-if="spider.status == 'finished'">完成</span>
                                <span v-if="spider.status == 'none'">未知</span>
                            </td>
                            <td>${ spider.name }</td>
                            <td>2016-02-20 15:28</td>
                            <td>2016-03-06 18:42</td>
                            <td><a href="javascript:void(0);"><span class="glyphicon glyphicon-remove"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-default" :disabled="datasource.length == 0 || loading"><span v-if="loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> ${ loading_submit }</button>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">图表</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <div id="chart" v-bind:w="words" v-word-cloud></div>
            </div>
            <div class="col-md-4">
                <h2>文章列表</h2>
                <div id="articles" class="list-group">
                    <a v-for="article in articles" href="${ article.url }" target="_blank" class="list-group-item">${ $index + 1 }. ${ article.title }</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="uploadLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">爬虫上传</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="target">目标</label>
                        <input type="text" class="form-control" placeholder="Target">
                    </div>
                    <div class="form-group">
                        <label for="target">爬虫文件</label>
                        <input type="file">
                        <p>上传 .zip .egg 爬虫文件</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">上传</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Vue.js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/vue.js') }}"></script>
<!-- D3.js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3-dispatch.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.layout.cloud.js') }}"></script>
<!-- page -->
<script type="text/javascript" src="{{ url_for('static', filename='page/index.js') }}"></script>
{% endblock %}