{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='page/index.css') }}" />
{% endblock %}

{% block navs %}
{% for menu in menus %}
<li><a href="#{{menu.url}}">{{ menu.title }}</a></li>
{% endfor %}
{% endblock %}

{% block container %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">数据源</h3>
    </div>
    <div class="panel-body">
        <form id="datasource-form" v-on:submit.prevent="submit">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th width="5%">#</th>
                        <th width="70%">爬虫</th>
                        <th width="5%">状态</th>
                        <th width="20%">操作</th>
                    </thead>
                    <tbody>
                        <tr v-for="spider in spiders">
                            <td><input type="checkbox" name="datasource" value="${ spider.name }" v-model="datasource"></td>
                            <td>${ spider.name }</td>
                            <td><i class="fa fa-circle" v-bind:class="spider.status"></i></td>
                            <td><button type="button" class="btn btn-default btn-xs" v-on:click="refresh(spider.name)">刷新<i class="fa fa-refresh"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-default" style="float:right;">生成</button>            
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">图表</h3>
    </div>
    <div class="panel-body">
        <div id="chart" v-bind:w="words" v-word-cloud></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Vue.js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/vue.js') }}"></script>
<!-- D3.js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3-dispatch.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.layout.cloud.js') }}"></script>
<!-- page -->
<script type="text/javascript" src="{{ url_for('static', filename='page/index.js') }}"></script>
{% endblock %}